<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sudoku Solver~GenJi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <nav>
        <h1>Sudoku Solver</h1>
    </nav>

    <div class="container">

        <div id = "board"></div>
        <br>
        <div id = "digits"></div>

        <div class="buttons">
            <button onclick="solveSudoku()" id="solvex">Solve</button>
            <button onclick="clearBoard()" id="clearx">Clear</button>
        </div>
    </div>
</body>
</html>
